{% include "partials/header.html" %}
<!--
<div class="row">
    <input id="id_new_item" placeholder="Enter a to-do item"/>
    <table id="id_list_table">
        <tr>
            <td>1:</td>
            <td>Buy peacock feathers</td>
        </tr>
        <tr>
            <td>2:</td>
            <td>Use peacock feathers to make a fly</td>
        </tr>
    </table>
</div>


-->


{% block body %}
    {% include "partials/nav.html" %}
    <h1>To-Do</h1>
    <form id="ToDoForm" method="POST" action="/to-do/" role="form">
        <!--<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> -->
        {{ form.hidden_tag() }}
        <div class="form-group">
        {{ form.item(placeholder="Enter a to-do item", class_="form-control") }}

        </div>
        <button type="submit" class="btn btn-default" name="todo_btn">Submit New ToDo Item</button>
    </form>

<header>
    {% block header %}
    {% endblock %}
</header>


<div class="{% block content_class %}container{% endblock content_class %}">

  <div role="main">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
         {{message}}
        </div><!-- end .alert -->
        {% endfor %}
      </div><!-- end col-md -->
    </div><!-- end row -->
        {% endif %}
    {% endwith %}

    {% block content %}
    {% if session['list_items'] %}
        <table id="id_list_table">
        {% for list_item in session['list_items'] %}
            <tr>
                <td>{{ loop.index }}:</td>
                <td>{{ list_item }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% endblock %}

  </div>

</div><!-- end container -->

{% include "footer.html" %}

<!-- JavaScript at the bottom for fast page loading -->
{% include "partials/footer.html" %}
<!-- end scripts -->
{% endblock %}
</body>
</html>
